window {
	font-family: CaskaydiaCove Nerd Font, monospace;
	font-size: 16pt;
	color: #cdd6f4;
	background-color: rgba(17, 17, 27, 0.88);
}

button {
	text-shadow: 0px 0px;
	box-shadow: 0px 0px;
	background-repeat: no-repeat;
	background-size: 200%;
	border: none;
	color: #ced7f4;
	border-radius: 20px 20px 20px 20px;
	background-color: rgba(30, 30, 46, 0);
	margin: 5px;
	transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
	outline-style: none;
}

button:active,
button:focus {
	background-color: rgba(30, 30, 46, 0);
	transition: 0.15s ease-in-out;
	background-size: 250%;
}

#nix {
	background-image: image(
		url("/home/kabil/.config/wlogout/wallChangeFOl/icons/nix-snowflake.png")
	);
}

#Arch {
	background-image: image(url("/home/kabil/wall/arch.png"));
}

#Kali {
	background-image: image(url("/home/kabil/wall/kali.png"));
}

#Debian {
	background-image: image(url("/home/kabil/wall/debian.png"));
}

#java {
	background-image: image(url("/home/kabil/wall/java.png"));
}

#cpp {
	background-image: image(url("/home/kabil/wall/cpp.png"));
}

#vim {
	background-image: image(url("/home/kabil/wall/vim.png"));
}

#rust {
	background-image: image(url("/home/kabil/wall/rust.png"));
}
